<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <globalization culture="en-GB" />
    <httpRuntime maxRequestLength="10240" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="zeus" namespace="Zeus.Web.UI.WebControls" assembly="Zeus" />
      </controls>
      <namespaces>
        <add namespace="System.Linq" />
      </namespaces>
    </pages>
  </system.web>
</configuration>